<!DOCTYPE html>

<html>
  <head>
    <style>
      body{
        font-size: x-large;
        background-image: url("https://cdn2.careeraddict.com/uploads/article/59265/illustration-people-working-out-gym.png");
        font-weight: bolder;
        
      }
    </style>
    <meta charset="utf-8">
    <title>Confirmation</title>
  </head>
  <body>



    <p>{{info}}</p>


    <div class="check">  

      <a href=/ class="btn btn-primary active" role="button">WORK OUT RECOMMENDATIONS</a>
  </div>


  </body>
</html>